Logs/
Screenshots/
Configurations/HGWAutomationConfig.ini
Configurations/SSIDConfig.ini
Configurations/REConfig.ini
chromedriver.exe
debug.log
pageObjects/__pycache__/
testCases/__pycache__/
utilities/__pycache__/
.idea/
Reports/
TestData/
Excel/
rep1/
screen.png
test2.xlsx
window_dump.txt
venv/
venv1/
venv2/
ReportsBackup/
ExcelBackup/